@model SongArtistViewModel


<form action="\home\addsongs" enctype="multipart/form-data" method="post">
    

    <!-- Artist Name -->
    <div class="form-group">
        <label for="ArtistName">Artist Name</label>
        <input type="text" placeholder="Enter artist name" required asp-for=ArtistName>
    </div>

    <!-- Song Name -->
    <div class="form-group">
        <label for="SongTitle">Track Name</label>
        <input type="text" placeholder="Enter track name" required asp-for=SongTitle>
    </div>

    <!-- File Upload -->
    <div class="form-group">
        <label for="SongFile">Song File</label>
        <input type="file" class="form-control-file" id="SongFile" name="SongFile" required asp-for=SongFile>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>